{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <h3 class="mb-4">Définir un nouveau mot de passe</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Nouveau mot de passe") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}